<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scaledHighResolution</key>
	<integer>3</integer>
	<key>singleWindowFrame</key>
	<string>{{279, 503}, {800, 600}}</string>
	<key>singleWindowIsZoomed</key>
	<false/>
</dict>
</plist>
